html
  head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css")
    title= title
  body
    a(href="/signout") #{username ? username + ', ' + password + ' ' +' Sign out' : ''}
    a(href="/signin" style= username ? 'display: none;' : '') Sign in 
    
    h1 Contact Info
      each contact in rows
        h2 #{contact.FirstName} #{contact.LastName}
        hr
        a(href="/") Back To List 
        p 
          b Phone number: 
          | #{contact.PhoneNumber}
        p 
          i May be contacted by phone or text
        hr
        p 
          b Email Address: 
          | #{contact.EmailAddress}
        p 
          i May be contacted by email
        hr
        p 
          b Address: 
          | #{contact.Street}, 
          | #{contact.City}, #{contact.Zip}, #{contact.State}, 
          | #{contact.Country} 
        hr
        a(href=`/${contact.ID}/edit`) Edit Contact
        br
        a(href=`/${contact.ID}/delete`) Delete Contact 
    

