html
  head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css")
    title= title
  body
    a(href="/signin") Sign in
    
    h1 Contact List

    a(href="/create" ) Create a new contact
    
table.table
  thead
    tr
      th Name
      th Phone
      th Email
      th Address 
      th Contact
  tbody
    each contact in rows
      tr
        td 
          a(href=`/${contact.ID}`) #{contact.FirstName} #{contact.LastName}
        td #{contact.PhoneNumber}
        td #{contact.EmailAddress}
        td #{contact.State} #{contact.City} #{contact.State} #{contact.Zip} #{contact.Country} 
        td 
          label
            input(type="checkbox" disabled checked=contact.Contact_By_Phone) 
            | Phone
          br
          label
            input(type="checkbox" disabled checked=contact.Contact_By_Email) 
            | Email 
      
    
    
